@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.caption {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.caption div{
  position: absolute;
  top: 93%;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 1em;
  padding-left: 1em;
  color: white ;
}

.caption:hover div{
  transform: translateY(-1300%);
  transition: transform 1s ease-in;
}

.caption h1{
  text-align: left;
}

img {
  min-width: 80%;
  max-width: 100%;
}

button {
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

button:hover {
  background-color: cornflowerblue;
}
